{% extends 'stripe_api/base.html' %}
{% block main_title %}
    Item: {{ item.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% if item %}
                <div class="col-12 text-center">
                    <div class="card m-2">
                        <div class="card-header">
                            <h5 class="card-title m-0">
                                Item: {{ item.name }}
                            </h5>
                        </div>
                        <div class="card-body item p-2">
                            <div class="card-text">
                                Description:
                                <p class="m-0">{{ item.description }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-subtitle">
                                <p class="m-0">Price: {{ item.price }}
                                    {{ item.currency }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center">
                    <h4 class="p-0 mt-2">Item с таким Id не существует</h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}