{% extends 'stripe_api/base.html' %}
{% block main_title %}
    Order: {{ order.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                {% for order_item in order.items.all %}
                    <div class="card m-2">
                        <div class="card-header">
                            <h5 class="card-title m-0">
                                {{ forloop.counter }}. Item: {{ order_item.item.name }}
                            </h5>
                        </div>
                        <div class="card-body item p-2">
                            <div class="card-text">
                                Description:
                                <p class="m-0">{{ order_item.item.description }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-subtitle">
                                <p class="m-0">Price: {{ order_item.item.price }}
                                    {{ order_item.item.currency }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" id="buy-button" type="button">
                    Buy
                </button>
            </div>
        </div>
    </div>
{% endblock %}